<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TessituraSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="TessituraSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TessituraSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://gatewaytest.omahaperformingarts.org/TessituraWebAPItest/Tessitura.asmx"
                binding="basicHttpBinding" bindingConfiguration="TessituraSoap"
                contract="TessituraWebAPI.TessituraSoap" name="TessituraSoap" />
            <endpoint address="https://gatewaytest.omahaperformingarts.org/TessituraWebAPItest/Tessitura.asmx"
                binding="customBinding" bindingConfiguration="TessituraSoap12"
                contract="TessituraWebAPI.TessituraSoap" name="TessituraSoap12" />
        </client>
    </system.serviceModel>
</configuration>